.olapic-wall
    .olapic-top
        .olapic-button
            a(href="#") Add a photo
        .olapic-select
            .olapic-select-desktop
                .viewall
                    a View All
                ul.olapic-desktop
                    li.active.active1(data-filter=".viewall")
                        a View All
                    li(data-filter=".africa")
                        a Africa
                    li(data-filter=".americas")
                        a Americas
                    li(data-filter=".asia")
                        a Asia
                    li(data-filter=".europe")
                        a Europe
                    li(data-filter=".middle")
                        a Middle East
    .olapic-main
        .container
            .image-gallery
                .gallery_item.gallery-item1.full.viewall
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#insider")
                        .title
                            span @abudhabi_insider
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/s/c/s/scs7hb4/normal.jpg", alt="")
                .gallery_item.gallery-item2.notful.africa.americas
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#kempinski")
                        .title
                            span @Kempinski
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/u/f/k/ufkpjc4/normal.jpg", alt="")
                .gallery_item.gallery-item3.notful.africa
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#hotelbaltschug")
                        .title
                            span @hotelbaltschug
                        img(src="https://z1photorankmedia-a.akamaihd.net/media/w/c/q/wcqc2d4/normal.jpg", alt="")
                .gallery_item.gallery-item4.notful.asia
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#kempinski_munich")
                        .title
                            span @kempinski_munich
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/m/o/3/mo3ro74/normal.jpg", alt="")
                .gallery_item.gallery-item5.notful.europe.middle
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#kempinskivilnius")
                        .title
                            span @kempinskivilnius
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/5/i/7/5i79dd4/normal.jpg", alt="")
                .gallery_item.gallery-item6.notful
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#kempinskimuscat")
                        .title
                            span @kempinskimuscat
                        img(src="https://photorankmedia-a.akamaihd.net/media/z/m/3/zm3fef4/normal.jpg", alt="")
                .gallery_item.gallery-item7.notful.europe.asia
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#elpaseodelmar")
                        .title
                            span @elpaseodelmar
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/j/z/c/jzcoqc4/normal.jpg", alt="")
                .gallery_item.gallery-item8.full.middle.africa
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#kempinski_seychelles")
                        .title
                            span @kempinski_seychelles
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/7/s/w/7swsvc4/normal.jpg", alt="")
                .gallery_item.gallery-item9.notful.americas.middle
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#ultratravelcollection")
                        .title
                            span @ultratravelcollection
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/i/6/5/i65ap94/normal.jpg", alt="")
                .gallery_item.gallery-item10.notful.asia.americas
                    a(class="gallery-fancybox", data-fancybox="gallery-fancybox", data-src="#kempinskibodrum")
                        .title
                            span @kempinskibodrum
                        img(src="https://photorankmedia-a.akamaihd.net/media/e/e/g/eegcjc4/normal.jpg", alt="")
            .copyright
                a(href="#") Powered by Olapic
        .olapic-loadmore
            a(href="#") Load more
.gallery-slide2#insider
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://photorankmedia-a.akamaihd.net/media/s/d/s/sds4tb4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username kempinski_seychelles
                            p.realname kempinski_seychelles
                p.photo-caption Island days 🏝️ #Kempinski #KempinskiSeychelles #BaieLazare #Seychelles 📸 Pic by @spex13
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/2/x/7/2x7dpc4/normal.jpg", alt="anny_grotesque")
                        p  Kempinski Seychelles Resort Baie Lazare
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#kempinski
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z2photorankmedia-a.akamaihd.net/media/u/f/k/ufkpjc4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/u/f/k/ufkpjc4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#hotelbaltschug
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z1photorankmedia-a.akamaihd.net/media/w/c/q/wcqc2d4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z1photorankmedia-a.akamaihd.net/media/w/c/q/wcqc2d4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#kempinski_munich
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z3photorankmedia-a.akamaihd.net/media/m/o/3/mo3ro74/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/m/o/3/mo3ro74/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#kempinskivilnius
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z3photorankmedia-a.akamaihd.net/media/5/i/7/5i79dd4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/5/i/7/5i79dd4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#kempinskimuscat
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://photorankmedia-a.akamaihd.net/media/z/m/3/zm3fef4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/h/4/n/h4ndvf4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#elpaseodelmar
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z2photorankmedia-a.akamaihd.net/media/j/z/c/jzcoqc4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z2photorankmedia-a.akamaihd.net/media/j/z/c/jzcoqc4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#kempinski_seychelles
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z3photorankmedia-a.akamaihd.net/media/7/s/w/7swsvc4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/7/s/w/7swsvc4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#ultratravelcollection
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://z3photorankmedia-a.akamaihd.net/media/i/6/5/i65ap94/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://z3photorankmedia-a.akamaihd.net/media/i/6/5/i65ap94/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic
.gallery-slide2#kempinskibodrum
    .container-fluid
        .row
            .col-lg-7.col-photo
                img(src="https://photorankmedia-a.akamaihd.net/media/e/e/g/eegcjc4/normal.jpg", alt="anny_grotesque")
                a(href="", class="report-image ", title="Report photo?") 
            .col-lg-5
                .user
                    a(href="")
                        img(src="../../../../assets/images/avatar.png", alt="avatar")
                        .author-name
                            p.username aman.shai.xox
                            p.realname aman.shai.xox
                p.photo-caption #followmeto... the Emirates Palace in Abu Dhabi, UAE, the third most expensive hotel in the world. Also, five kilogrammes of pure edible gold is used per year in the hotel for decoration on food and they have a gold bar vending machine in the hotel lobby! How crazy is that!!
                .photo-sharing
                    p Share
                    ul
                        li
                            a(href=""): i.fa.fa.fa-facebook
                        li
                            a(href=""): i.fa.fa.fa-twitter
                        li
                            a(href=""): i.fa.fa.fa-pinterest-p
                h3 Book This Hotel Now
                .hotel-info
                    a(href="")
                        img(src="https://photorankmedia-a.akamaihd.net/media/e/e/g/eegcjc4/normal.jpg", alt="anny_grotesque")
                        p Emirates Palace Abu Dhabi
                a(href="")
                    p.photo-copy Powered by Olapic