#experience.experiences 
  .section-title.text-center
    .container-fluid
      h2.block-title.wow.fadeInUp EXPERIENCES WITH KEMPINSKI
      p.sub-title.wow.fadeInUp(data-wow-delay="0.1s") 
        span.line
        span.text In over 30 countries
  .room-slide
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/weddings.png", alt="image-wedding")
      .slide-caption
        .title WEDDINGS AT KEMPINSKI
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
        .further-info
          a.btn-further-info(href="", title="Further Information") Further Information
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/lockuplogo.png", alt="lockuplogo")
      .slide-caption
        .title EXPERIENCE KEMPINSKI DISCOVERY
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
        .further-info
          a.btn-further-info(href="", title="Further Information") Further Information
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/room1.jpg", alt="room1")
      .slide-caption
        .title SPA & WELLNESS
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
        .further-info
          a.btn-further-info(href="", title="Further Information") Further Information
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/ice.jpg", alt="ice")
      .slide-caption
        .title GASTRONOMY EXPERIENCES
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
        .further-info
          a.btn-further-info(href="", title="Further Information") Further Information
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/room2.jpg", alt="room2")
      .slide-caption
        .title SIGNATURE SUITES
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
        .further-info
          a.btn-further-info(href="", title="Further Information") Further Information
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/golf.jpg", alt="golf")
      .slide-caption
        .title GOLF DESTINATIONS
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
        .further-info
          a.btn-further-info(href="", title="Further Information") Further Information
    .item.slider-item
      .slide-image
        a(href="")
          img(src="../../../../assets/images/ski.jpg", alt="ski")
      .slide-caption
        .title SKI DESTINATIONS
        .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world. Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world. Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day
        .further-info
        .further-info 
          a.btn-further-info(href="", title="Further Information") Further Information


