.special-offers{
    margin-bottom: 64px;
    @include mobile{
        margin-bottom: 105px;
    }
    .container{
        @include min-xl{
           width: 1120px; 
           padding-left: 15px;
           padding-right: 15px;
        }
    }
    .section-title{
        padding: 30px 0 98px 0;
        background: #f8f8f6;
        margin-bottom: 0;
        .text{
            background: #f8f8f6;
        }
    }
    .offers-slide{
        .slick-prev{
            top: 18%;
            left: -50px;
            @include max-xl{
                left: 6px;
            }
            @include mobile{
                left: 10px;
                top: 21%;
            }
        }
        .slick-next{
            top: 18%;
            right: 0px;
            @include max-xl{
                right: 58px;
            }
            @include mobile{
                right: 60px;
                top: 21%;
            }
        }
        .slick-prev, .slick-next{
            &:before{
                opacity: 1;
                display: block;
                background-color: #ffffff7a;
                border-radius: 50%;
            }
        }
        .slick-slide{
            margin: 0 10px;
        }
        .slide-caption{
            margin-top: 19px;
            .title{
                margin-bottom: 9px;
                height: 4.6rem;
                overflow: hidden;
            }
            .description{
                height: 174px;
                margin-bottom: 20px;
                overflow: hidden;
                p{
                    line-height: 23px;
                }
            }
            .further-info{
                transform: translateY(-3px);
                a{
                    cursor: pointer;
                }
            }
        }
    }
}
// end special-offers