.special-offers
    .section-title.text-center
      .container-fluid
        h2.block-title.wow.fadeInUp SPECIAL OFFERS
        p.sub-title.wow.fadeInUp(data-wow-delay="0.1s")  
          span.line
          span.text Exciting Packages
    .container-fluid.container
        .offers-slide
            .item
                .slide-image
                    a(href="/special-offers")
                        img(src="../../../../assets/images/palmleaf.jpg", alt="palmleaf")
                .slide-caption
                    .title Escape in Style this Summer
                    .description
                        p Plan your dream trips to stunning hotels in spectacular destinations! Escape in Style this Summer with special offers from Kempinski Hotels and benefit with up to 30% off the regular rates.
                    .further-info
                        a.btn-further-info Further Information
            .item
                .slide-image
                    a(href="/special-offers")
                        img(src="../../../../assets/images/earlybooker.jpg", alt="earlybooker")
                .slide-caption
                    .title EARLY BOOKER
                    .description
                        p Offers with up to 40% discount, when booking 15, 30 or 90 days in advance.
                    .further-info
                        a.btn-further-info Further Information
            .item
                .slide-image
                    a(href="/special-offers")
                        img(src="../../../../assets/images/sanclementea.jpg", alt="sanclementea")
                .slide-caption
                    .title SUITELY SENSATIONAL
                    .description
                        p Enjoy a truly luxurious break with one of our special offers the next time you choose to stay with us
                        p Whether you want a wonderful weekend away in one of Europe's best cities, catching the sights and enjoying the best in cuisine and entertainment, or a weeks-long vacation spent on the shores of an idyllic island hideaway, there will be a special suite offer perfect for you.
                    .further-info
                        a.btn-further-info Further Information
            .item
                .slide-image
                    a(href="/special-offers")
                        img(src="../../../../assets/images/tmov.jpg", alt="tmov")
                .slide-caption
                    .title WELLNESS & SPA
                    .description
                        p No matter where you are in the world, and whatever the reason for your trip, it's always important to dedicate some time to yourself to relax and unwind.
                    .further-info
                        a.btn-further-info Further Information