.showus
    .showus-top
        .container
            ul
                li.clock
                li.home
                    a(href="#") HOME
                li.show SHOW US YOUR @KEMPINSKI
    .showus-main
        .container.wow.fadeInUp  
            h1 SHOW US YOUR @KEMPINSKI
            .sub-title
                span.line
                span Our guests always travel the world in style. Mention @Kempinski on Instagram for a chance to be featured!
            p Guest Gallery