.block-introdcue
    .block-introduce-title
        h1.block-title HOTELIERS SINCE 1897
        .text-small
            span.sub-title Travelling in Style
    span.block-content
        p Hoteliers since 1897, Kempinski has travelled the world in search of the most fascinating destinations without ever forgetting the finest traditions of its European heritage. With luxury holiday resorts, business and Spa hotels around the world, every Kempinski Hotel is unique, designed for guests who value five star holidays and luxury getaways.