.page-special-offers
    .section-title.text-center
      .container-fluid
        h2.block-title SPECIAL OFFERS
        p.sub-title 
          span.line
          span.text Exclusive Packages
        p.sub-child-title FOR REMARKABLE HOLIDAYS
    .section-form-control
        .container-fluid
            form(action="")
                .form-group
                    .col-sm-6.col-sm-offset-2
                        .row
                            .col-xs-2
                                label(class="control-label") Region
                            .col-xs-10.col-region
                                .region-dropdown
                                    button(class="region-dropdown-toggle") Please Select
                                    .region-dropdown-menu
                                        a(href="#", class="region-dropdown-item active") Please Select
                                        a(href="#", class="region-dropdown-item") Americas
                                        a(href="#", class="region-dropdown-item") Asia Pacific
                                        a(href="#", class="region-dropdown-item") Europe
                                        a(href="#", class="region-dropdown-item") Middle East & Africa
    .section-new-special-offers
        .container-fluid
            .menu-sticky
                ul
                    li.active
                        a(data-filter=".all") All
                    li
                        a(data-filter=".summer") ESCAPE IN STYLE THIS SUMMER
                    li
                        a(data-filter=".early") EARLY BOOKER
                    li
                        a(data-filter=".suitely") SUITELY SENSATIONAL
                    li
                        a(data-filter=".wellness") WELLNESS & SPA
                    li
                        a(data-filter=".romance") ROMANCE
                    li
                        a(data-filter=".family") FAMILY & KIDS
                    li
                        a(data-filter=".golf") GOLF
            .new-special-offers.are-item-unloaded
                a(href="", class="new-special-offers-item half summer")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
                a(href="", class="new-special-offers-item full summer")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item half early")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
                a(href="", class="new-special-offers-item full early")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item half early")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
                a(href="", class="new-special-offers-item full suitely")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item half wellness")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
                a(href="", class="new-special-offers-item full romance")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item half family")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
                a(href="", class="new-special-offers-item full romance family")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item full golf")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item full romance family a-hide")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item full golf a-hide")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item full golf a-hide")
                    img(src="../../../../assets/images/full1.jpg", alt="Çırağan Palace Kempinski Istanbul")
                    .new-special-offers-item-info
                        p.hotel-name Çırağan Palace Kempinski Istanbul
                        h3 Early Booker
                        p Turkey - Istanbul
                        p.description2 Book Early and save up to 20% on your luxury vacation or business trip! Plan your business or leisure trip early and take... 
                    .bg-white-milk
                a(href="", class="new-special-offers-item half family a-hide")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
                a(href="", class="new-special-offers-item half family a-hide")
                    img(src="../../../../assets/images/half1.jpg", alt="Kempinski Hotel Berchtesgaden")
                    .new-special-offers-item-info
                        p.hotel-name Kempinski Hotel Berchtesgaden
                        h3 Escape in Style this Summer
                        p Germany - Berchtesgaden
                    .bg-white-milk
            .imgloading.text-center 
                img(src="../../../../assets/images/loader.gif", alt="") 