extends ./layouts/master.pug

block title
  title Kempinski

block content
  .page-wrapper
    .inner-page-wrapper
      include components/homepage/introducePage/introduce.pug
      include components/homepage/mapbox/mapbox.pug
      include components/homepage/experiences/experiences.pug
      include components/homepage/gallery/gallery.pug
      include components/homepage/specialoffers/specialoffers.pug
      include components/homepage/explore/explore.pug


