#our-hotel.explore
    .country.wow.fadeInUp
        h3(data-wow-duration="1s") EXPLORE OUR DESTINATIONS
        span Over 70 hotels
    .select_countries
        .country_name
            .name 
                a China
                span
            .name
                a Republic of Singapore
                span
            .name
                a United Arab Emirates
                span
            .name
                a Indonesia
                span
            .name
                a Italy
                span
            .name
                a Austria
                span
            .name
                a Germany
                span
        .bg_filter
            img(src="https://www.kempinski.com/images/home/bg-filter-select.png", alt="")
            .bg_left
                img(src="https://www.kempinski.com/images/home/cover-before.png", alt="")
            .bg_right
                img(src="https://www.kempinski.com/images/home/cover-after.png", alt="")
    .hotels_des
        .hotel_des#china
            .single_slide
                .single
                    .img
                        img(src="https://awscloudfront.kempinski.com/34379541/hangzhou_destination_web.png;width=1905;height=794;mode=crop;anchor=topcenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
                    .containerr
                        .hotel_info
                            .hotel_mg
                                .hotel_info_padding
                                    h4 Shanghai - Pudong
                                    p Welcome to the Grand Kempinski Hotel Shanghai, situated in the heart of Shanghai’s financial district Lujiazui. Offering stunning views of the city’s glittering skyline, the hotel is perfectly located for both leisure and business visitors.
                                    p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                                    p Take a look around our site to find out more about our hotel, through our
                                    a(href="#") FURTHER INFORMATION
                .single
                    .img
                        img(src="https://awscloudfront.kempinski.com/34378893/kempinski-st-moritz-summer-day.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
                    .containerr
                        .hotel_info
                            .hotel_mg
                                .hotel_info_padding
                                    h4 Hangzhou
                                    p Inspired by palaces of Continental Europe, Emerald Palace Kempinski Dubai is a five-star luxury beach resort dedicated to the finest elements of life. Guests are welcome to immerse in an elegantly curated stay, dining and leisure experiences at this landmark destination on Palm Jumeirah, and discover Dubai’s iconic palace by the sea.
                                    p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                                    p Take a look around our site to find out more about our hotel, through our
                                    a(href="#") FURTHER INFORMATION
        .hotel_des
            .img
                img(src="https://awscloudfront.kempinski.com/34375570/kisin1-facade.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
            .containerr
                .hotel_info
                    .hotel_mg
                        .hotel_info_padding
                            h4 Singapo
                            p Located in Singapore’s charming civic and cultural district, the iconic Capitol Building and Stamford House have been restored to unveil as The Capitol Kempinski Hotel Singapore. A quintessential masterpiece of beautifully conserved architecture uplifted with a modern touch and bespoke hospitality, this exclusive retreat promises luxury at its finest.
                            p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                            p Take a look around our site to find out more about our hotel, through our
                            a(href="#") FURTHER INFORMATION
        .hotel_des
            .img
                img(src="https://awscloudfront.kempinski.com/34374048/f1-edit.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
            .containerr
                .hotel_info
                    .hotel_mg
                        .hotel_info_padding
                            h4 Dubai - Emerald Palace
                            p Located in Singapore’s charming civic and cultural district, the iconic Capitol Building and Stamford House have been restored to unveil as The Capitol Kempinski Hotel Singapore. A quintessential masterpiece of beautifully conserved architecture uplifted with a modern touch and bespoke hospitality, this exclusive retreat promises luxury at its finest.
                            p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                            p Take a look around our site to find out more about our hotel, through our
                            a(href="#") FURTHER INFORMATION
        .hotel_des
            .img
                img(src="https://awscloudfront.kempinski.com/34373559/kempinski-bali_hero-shot-real-image.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
            .containerr
                .hotel_info
                    .hotel_mg
                        .hotel_info_padding
                            h4 Bali
                            p Standing atop the majestic cliff of Nusa Dua, with breathtaking views of the Indian Ocean and tropical garden, The Apurva Kempinski Bali offers the epitome of beachfront luxury. This five-star hotel in Bali presents itself as a majestic open-air theatre, an embodiment of Indonesian elegance.
                            p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                            p Take a look around our site to find out more about our hotel, through our
                            a(href="#") FURTHER INFORMATION
        .hotel_des
            .img
                img(src="https://awscloudfront.kempinski.com/34374681/kempinski-venice_entrance_landscape_2016-resized.jpg;width=1905;height=794;mode=crop;anchor=bottomcenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
            .containerr
                .hotel_info
                    .hotel_mg
                        .hotel_info_padding
                            h4 Venice
                            p San Clemente Palace Kempinski is located on the private island of San Clemente, only minutes away by complimentary boat from Piazza San Marco.
                            p A proud member of Leading Hotels of the World, this exclusive retreat guarantees peace, tranquillity and privacy.
                            p  and outdoor areas make San Clemente Palace the perfect choice for outstanding events and ...
                            a(href="#") FURTHER INFORMATION
        .hotel_des
            .img
                img(src="https://awscloudfront.kempinski.com/1381/exterior.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
            .containerr
                .hotel_info
                    .hotel_mg
                        .hotel_info_padding
                            h4 Vienna
                            p Heritage-listed five-star-superior Palais Hansen Kempinski is located at Schottenring, right at the famous Ring Boulevard. Originally built as a hotel for the World Exhibition in 1873, this building captivates with contemporary design, modern architecture and luxury. Palais Hansen Kempinski provides 152 
                            p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                            p Take a look around our site to find out more about our hotel, through our
                            a(href="#") FURTHER INFORMATION
        .hotel_des
            .img
                img(src="https://awscloudfront.kempinski.com/34358890/pool_bella_habana_day_2.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage", alt="")
            .containerr
                .hotel_info
                    .hotel_mg
                        .hotel_info_padding
                            h4 Munich
                            p Welcome to Hotel Vier Jahreszeiten Kempinski, centrally located in the heart of Munich. It is the ideal place to stay to make the most of the vibrant city of Munich, whether you are here for a business trip or a city break. 
                            p Guests can choose from a range of luxury rooms and suites to suit their requirements and the hotel also provides four gourmet restaurants and three bars with incredible views of the city. There is an onsite health club which includes a spa, swimming pool and gym, and the city’s visitor attractions and shopping malls are also easily accessible from the hotel.
                            p Take a look around our site to find out more about our hotel, through our
                            a(href="#") FURTHER INFORMATION