.showus
    .showus-top
        .container
            ul
                li.clock
                li.home
                    a(href="#") HOME
                li.show ABOUT US
.page-about
  .section-title.text-center
    .container-fluid
      h2.block-title.wow.fadeInUp ABOUT US
      p.sub-title.wow.fadeInUp(data-wow-delay="0.1s") 
        span.line
        span.text Europe's Oldest Luxury Hotel Group
  .section-about-main
    .container-fluid
      h5 Kempinski - our prestigious heritage shapes our bright future
      p The Kempinski name is proudly borne by a growing collection of distinguished properties around the world. As Europe’s oldest luxury hotel group, we are committed to providing our guests with memorable journeys inspired by exquisite European flair. We believe life should be lived with style.
      p Each year, an increasing number of guests come to appreciate these qualities, as Kempinski adds new, exciting destinations in Europe, the Middle East, Africa, Asia and The Americas. While this growth reflects the strength and success of the Kempinski brand, the collection will remain a limited one, where exclusivity can be nurtured and individuality can flourish
      p We believe that our prestigious, European heritage puts Kempinski in a unique position to satisfy the expectations of the stylish and discerning traveller. It’s not just to simply provide a hotel bed and a meal, at Kempinski it’s all about bringing a story to life.
      p Since 1897, our employees have been a part of creating history around the world. From historic buildings to the most avant-garde of modern architecture, our properties are the setting for some of life’s greatest moments. We’ve witnessed historic meetings between world leaders, celebrities taking sanctuary in the world of privacy we create for them, and created incredible memories for guests on a ‘once-in-a-lifetime’ journey.
      p We are wholeheartedly committed to providing perfection for our guests at every moment and in every way. Perhaps it’s something as life-changing as a wedding celebration, where our attention to detail and perfect service mean that your special day goes without a hitch. Or perhaps it’s as simple as the note left on your pillow at night, which thoughtfully lets you know the weather tomorrow so you know how to dress in the morning. At Kempinski, we are each personally responsible for creating rich and meaningful experiences for our guests.
  .section-company-overview
    .explore2
      .country.wow.fadeInUp
          h3(data-wow-duration="1s") COMPANY OVERVIEW
          span About Kempinski
          p.sub-child-title ABOUT KEMPINSKI
      .select_countries
          .country_name2
              .name 
                  a DEVELOPMENT
                  span
              .name
                  a Our Network of Partners
                  span
              .name
                  a Management Board
                  span
              .name
                  a Kempinski's Strategy
                  span
              .name
                  a Corporate Social Responsibility
                  span
              .name
                  a History
                  span
              .name
                  a Kempinski Residences 
                  span
          .bg_filter
              img(src="https://www.kempinski.com/images/home/bg-filter-select.png", alt="")
              .bg_left
                  img(src="https://www.kempinski.com/images/home/cover-before.png", alt="")
              .bg_right
                  img(src="https://www.kempinski.com/images/home/cover-after.png", alt="")
      .experiences
        .room-slide2
          .item.slider-item
            .slide-image
              a(href="")
                img(src="https://awscloudfront.kempinski.com/1072/xiy1terracottasoldiers.jpg;width=1072;height=804;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage)", alt="image-wedding")
            .slide-caption
              .title DEVELOPMENT
              .description: p Kempinski Hotels now operates an international portfolio of 76 hotels that reflect the finest traditions of European hospitality.
              .further-info
                a.btn-further-info(href="", title="Further Information") Further Information
          .item.slider-item
            .slide-image
              a(href="")
                img(src="../../../../assets/images/lockuplogo.png", alt="lockuplogo")
            .slide-caption
              .title OUR NETWORK OF PARTNERS
              .description: p
                | Over the years, Kempinski Hotels has created a network of valuable key partners, establishing long-standing relationships with each of them. Each partner represents a prestigious brand in their respective field of industry, with a worldwide, outstanding reputation.
                br
                br
                | Through these partnerships, Kempinski aims to provide its guests with additional benefits and services throughout their journey. 
                br
                br
                | Please do not hesitate to contact us should you require additional information on our partnerships, or are interested in discussing a new partnership with Kempinski Hotels.
              .further-info
                a.btn-further-info(href="", title="Further Information") Further Information
          .item.slider-item
            .slide-image
              a(href="")
                img(src="../../../../assets/images/room1.jpg", alt="room1")
            .slide-caption
              .title MANAGEMENT BOARD
              .description: p Kempinski manages and operates some of the world’s most iconic hotels, with a portfolio of five-star hotels and residences in Europe, Middle East & Africa, Asia and The Americas. The brand is synonymous with elegant European service, blended with the individual culture and traditions of each destination.
              .further-info
                a.btn-further-info(href="", title="Further Information") Further Information
          .item.slider-item
            .slide-image
              a(href="")
                img(src="../../../../assets/images/ice.jpg", alt="ice")
            .slide-caption
              .title GASTRONOMY EXPERIENCES
              .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
              .further-info
                a.btn-further-info(href="", title="Further Information") Further Information
          .item.slider-item
            .slide-image
              a(href="")
                img(src="../../../../assets/images/room2.jpg", alt="room2")
            .slide-caption
              .title SIGNATURE SUITES
              .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
              .further-info
                a.btn-further-info(href="", title="Further Information") Further Information
          .item.slider-item
            .slide-image
              a(href="")
                img(src="../../../../assets/images/golf.jpg", alt="golf")
            .slide-caption
              .title GOLF DESTINATIONS
              .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world.
              .further-info
                a.btn-further-info(href="", title="Further Information") Further Information
          .item.slider-item
            .slide-image
              a(href="")
                img(src="../../../../assets/images/ski.jpg", alt="ski")
            .slide-caption
              .title SKI DESTINATIONS
              .description: p Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world. Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day, honeymoon and even bachelor and bachelorette parties at many venues around the world. Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day Your wedding day should be the most special day of your life. From the first conversations to the 'I do' and beyond, here at Kempinski we pride ourselves on being able to offer you the most spectacular day
              .further-info
              .further-info 
                a.btn-further-info(href="", title="Further Information") Further Information
      