footer
    .container
        .row
            .col-xs-12.col-md-5
                .row
                    .col-xs-12.col-md-6.col-sm-6
                        h3 CONTACT US
                        .a_email
                            a(href="#").email reservations.corporate@kempinski.com
                        .icon
                            a(href="#").icon_link.fb
                                img(src="https://www.kempinski.com/images/icon/facebook.png", alt="")
                            a(href="#").icon_link.insta
                                img(src="https://www.kempinski.com/images/icon/instagram.png", alt="")
                            a(href="#").icon_link.twitter
                                img(src="https://www.kempinski.com/images/icon/twitter.png", alt="")
                            a(href="#").icon_link.youtube
                                img(src="https://www.kempinski.com/images/icon/youtube.png", alt="")
                            a(href="#").icon_link.linke
                                img(src="https://www.kempinski.com/images/icon/linkedin.png", alt="")
                            a(href="#").icon_link.weibo
                                img(src="https://www.kempinski.com/images/icon/weibo.png", alt="")
                            a(href="#").icon_link.wechat
                                img(src="https://www.kempinski.com/images/icon/wechat.png", alt="")
                            a(href="#").icon_link.blog
                                //- img(src="https://www.kempinski.com/images/icon/blog-w.png", alt="")

                    .col-xs-12.col-md-6.col-sm-6
                        h3 BOOKING
                        .booking_item
                            ul
                                li
                                    img(src="../../../assets/images/dfd.png", alt="")
                                    .item
                                        a(href="#") MODYFI
                                        span /
                                        a(href="#") CANCEL
            .col-xs-12.col-md-7
                .row
                    .col-xs-12.col-sm-7
                        h3 HELPFUL INFO
                        .aboutus
                            .row
                                .col-xs-12.col-md-6.col-sm-6
                                    ul.first
                                        li
                                            a(href="#") ABOUT US
                                        li
                                            a(href="http://") CONTACT US
                                        li
                                            a(href="http://") PRESS ROOM
                                        li
                                            a(href="http://") CAREER SITE
                                .col-xs-12.col-md-6.col-sm-6
                                    ul
                                        li
                                            a(href="#") BEST RATE GUARANTEE
                                        li
                                            a(href="#") IMPRINT
                                        li
                                            a(href="#") LEGAL
                                        li
                                            a(href="#") PRIVACY POLICY
                                        li
                                            a(href="#") SITEMAP
                    .col-xs-12.col-sm-5
                        h3 SIGN UP TO OUR NEWSLETTER
                        .signup
                            .subcribe 
                                a(href="#") SUBCRIBE
                            .image
                                a(href="#")
                                    img(src="https://awscloudfront.kempinski.com/images/icon/global-hotel.png", alt="")
                            p © 2019 Kempinski Hotels
            
    .footer-backtoptop
        a(href="#")
            img(src="../../../assets/images/backtotop.png", alt="")