- var linkImage = {
    destination: '../../../assets/images/header/banner-header.jpg',
    experience: '../../../assets/images/header/experience.jpg',
    
}
mixin blockCataloh(text,img)
    .banner-images-block-right
        .banner-images-block
            .content-block
                .images-cover
                    img(src="../../../assets/images/header/banner-header.jpg", alt="Desnitaion")
                .content.overlay
                    span.text OUR DESTINATIONS          